.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--text-color-secondary);
  font-size: 1.0rem;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding-left: 30px;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
}

.clear-btn {
  color: var(--text-color-secondary);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-dropdown {
  position: absolute;
  left: 0;
  background-color: var(--code-background);
  border: 1px solid var(--border-color);
  border-radius: var(--card-border);
  z-index: 1000;
  max-height: 500px;
  overflow-y: auto;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.search-dropdown.show {
  opacity: 1;
  height: auto;
}

.search-dropdown-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--surface-hover);
  }
}

.search-book-cover {
  width: 35px;
  height: 47px;
  object-fit: cover;
  max-width: 100px;
  max-height: 150px;
  border-radius: 4px;
  margin-right: 10px;
}
