<p-toast position="top-right"></p-toast>

<p class="text-lg flex items-center gap-2 px-4 pt-4 pb-2">
  KOReader Sync Settings:
  <i class="pi pi-info-circle text-sky-600"
     pTooltip="Click to view KOReader setup documentation"
     tooltipPosition="right"
     (click)="openKoReaderDocumentation()"
     style="cursor: pointer;">
  </i>
</p>

@if (hasPermission) {
  <form #koreaderForm="ngForm" class="px-4 py-4">

    <div class="p-field flex items-center px-4 py-2">
      <p-toggle-switch
        name="syncEnabled"
        [(ngModel)]="koReaderSyncEnabled"
        (ngModelChange)="onToggleEnabled($event)"
        inputId="syncEnabled"
        [disabled]="!credentialsSaved">
      </p-toggle-switch>
      <label for="syncEnabled" class="ml-2">
        Enable KOReader Sync
      </label>
    </div>

    <div class="flex flex-col px-4 py-4 space-y-4">
      <!-- API Path -->
      <div class="flex flex-col gap-1 max-w-[30rem]">
        <label for="koreaderEndpoint">KOReader API Path</label>
        <div class="flex items-center gap-2">
          <input
            fluid
            pInputText
            id="koreaderEndpoint"
            [value]="koreaderEndpoint"
            readonly/>
          <p-button
            icon="pi pi-copy"
            outlined="true"
            severity="info"
            (onClick)="copyText(koreaderEndpoint)">
          </p-button>
        </div>
      </div>

      <!-- Username -->
      <div class="flex flex-col gap-1 max-w-[30rem]">
        <label for="username">KOReader Username</label>
        <div class="flex items-center gap-2">
          <input
            fluid
            pInputText
            id="username"
            name="username"
            required
            [(ngModel)]="koReaderUsername"
            #usernameModel="ngModel"
            [class.p-invalid]="usernameModel.invalid && usernameModel.touched"
            [disabled]="editMode"/>
          <p-button
            icon="pi pi-copy"
            outlined="true"
            severity="info"
            (onClick)="copyText(koReaderUsername)">
          </p-button>
        </div>
        <small *ngIf="editMode && usernameModel.invalid && usernameModel.touched" class="p-error">
          Username is required.
        </small>
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-1 max-w-[33rem]">
        <label for="password">KOReader Password</label>
        <div class="flex items-center gap-2">
          <input
            fluid
            pInputText
            id="password"
            name="password"
            required
            minlength="6"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="koReaderPassword"
            #passwordModel="ngModel"
            [class.p-invalid]="passwordModel.invalid && passwordModel.touched"
            [disabled]="editMode"/>
          <p-button
            icon="pi pi-copy"
            outlined="true"
            severity="info"
            (onClick)="copyText(koReaderPassword)">
          </p-button>
          <p-button
            [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"
            outlined="true"
            severity="info"
            (onClick)="toggleShowPassword()">
          </p-button>
        </div>
        <small *ngIf="editMode && passwordModel.invalid && passwordModel.touched" class="p-error">
          Password must be at least 6 characters.
        </small>
      </div>

      <p-button
        [icon]="!editMode ? 'pi pi-save' : 'pi pi-pencil'"
        outlined="true"
        [severity]="!editMode ? 'success' : 'warn'"
        [label]="!editMode ? 'Save' : 'Edit'"
        (onClick)="onEditSave()"
        [disabled]="!editMode && !canSave">
      </p-button>
    </div>
  </form>
} @else {
  <div class="px-4 py-4 m-4 rounded-lg bg-red-700/30 border border-red-600 text-red-200 flex items-center gap-2 max-w-lg">
    <i class="pi pi-lock text-red-400 text-xl"></i>
    <span>
      Access to KOReader sync is restricted.
      <br>
      Please contact your administrator to request permission.
    </span>
  </div>
}
