<ng-container *transloco="let t; prefix: 'statsUser.authorGalaxy'">
<div class="author-galaxy-container">
  <div class="chart-header">
    <div class="chart-title">
      <h3>
        <i class="pi pi-sitemap author-galaxy-icon"></i>
        {{ t('title') }}
        <i class="pi pi-question-circle chart-info-icon"
           [pTooltip]="t('tooltip')"
           tooltipPosition="bottom"
           tooltipStyleClass="chart-info-tooltip"
           [appendTo]="'body'"></i>
      </h3>
      <p class="chart-description">{{ t('description') }}</p>
    </div>
  </div>

  @if (hasData) {
    <div class="stats-row">
      <div class="stat-card top">
        <span class="stat-value">{{ topAuthorName }}</span>
        <span class="stat-label">{{ t('topAuthor') }}</span>
      </div>
      <div class="stat-card authors">
        <span class="stat-value">{{ authorCount }}</span>
        <span class="stat-label">{{ t('authors') }}</span>
      </div>
      <div class="stat-card connections">
        <span class="stat-value">{{ connectionCount }}</span>
        <span class="stat-label">{{ t('connections') }}</span>
      </div>
    </div>
    <div class="canvas-wrapper">
      <canvas #galaxyCanvas></canvas>
    </div>
  } @else {
    <div class="no-data-message">
      <i class="pi pi-info-circle"></i>
      <p>{{ t('noData') }}</p>
      <small>{{ t('noDataHint') }}</small>
    </div>
  }
</div>
</ng-container>
