<ng-container *transloco="let t; prefix: 'bookdrop.filesWidget'">
<div class="staging-border">
  <div class="widget-row">

    <div class="widget-info">
      <p class="widget-title">{{ t('title') }}</p>
      <p class="widget-count">{{ pendingCount }}</p>
      @if (lastUpdatedAt) {
        <p class="widget-date">
          {{ t('lastUpdated') }} {{ lastUpdatedAt | date: 'short' }}
        </p>
      }
    </div>

    <div class="widget-actions">
      <p-button
        size="small"
        outlined
        severity="info"
        (click)="openReviewDialog()">
        {{ t('reviewBtn') }}
      </p-button>
    </div>
  </div>
</div>
</ng-container>
