<input
  type="text"
  placeholder="Search icons..."
  [(ngModel)]="searchText"
  class="icon-search"
  (keyup)="maybeSelectWithEnter($event)"
  />

<div class="icon-grid">
  @if(searchText) {
    <div class="icon-use-raw">
      <button (click)="selectCustomIcon(searchText)">Use <code>{{searchText}}</code> as icon.</button> Upload files as <code>/public/custom-icons/{{searchText}}.svg</code>. <button (click)="selectCustomIcon(searchText)" class="underline">OK!</button>

      @if(filteredIcons().length > 0) {
        <div>Or pick one of the <strong>{{filteredIcons().length}}</strong> matching icons below:</div>
      }
    </div>
  }
  @for (icon of filteredIcons(); track icon) {
    <div
      class="icon-item"
      (click)="selectIcon(icon)"
      [class.selected]="icon === selectedIcon">
      <i [class]="icon"></i>
    </div>
  }
</div>
