<div class="menu-container">
  <div>
    <ul class="layout-menu">
      @if (homeMenu$ | async; as homeMenu) {
        @for (item of homeMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="home"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (libraryMenu$ | async; as libraryMenu) {
        @for (item of libraryMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="library"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (shelfMenu$ | async; as shelfMenu) {
        @for (item of shelfMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="shelf"></li>
          }
        }
      }
    </ul>

    <ul class="layout-menu">
      @if (magicShelfMenu$ | async; as shelfMenu) {
        @for (item of shelfMenu; track item; let i = $index) {
          @if (!item.separator) {
            <li app-menuitem [item]="item" [index]="i" [root]="true" menuKey="magicShelf"></li>
          }
        }
      }
    </ul>
  </div>

  @if (versionInfo) {
    <div class="version-info" style="margin-top: auto;">
      <div class="version-text">
        @if (isSemanticVersion(versionInfo.current)) {
          <a
            [href]="getVersionUrl(versionInfo.current)"
            target="_blank"
            rel="noopener noreferrer"
            class="version-link"
            >
            {{ versionInfo.current }}
          </a>
        } @else {
          <span class="version-label">{{ versionInfo.current }}</span>
        }
      </div>
      @if (isSemanticVersion(versionInfo.current) && versionInfo.latest && versionInfo.latest !== versionInfo.current) {
        <div>
          <a
            (click)="openChangelogDialog()"
            class="update-link"
            >
            (Update)
          </a>
        </div>
      }
    </div>
  }
</div>
