:host ::ng-deep p-accordion-header {
  --p-accordion-header-padding: 0.6rem 1rem;
}

.filter-row{
  align-items: flex-start;
}

p-badge.filter-value-badge {
  border-radius: 6px !important; /* Makes the badge square */
}