<div class="book-metadata-center-container">
  @if (config) {
    <div class="panel-header">
      <div class="header-icon-wrapper">
        <i class="pi pi-book header-icon"></i>
      </div>
      <div class="header-text">
        <h2 class="panel-title">Book Details</h2>
        <p class="panel-description">View and edit book metadata</p>
      </div>
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (click)="ref?.close()"
        styleClass="close-button">
      </p-button>
    </div>
  }
  <div class="tabs-wrapper" [class.dialog-mode]="config">
    <p-tabs [(value)]="tab" lazy="true" scrollable>
    <p-tablist>
      <p-tab value="view">
        <i [class]="'pi pi-book'"></i>
        Book Details
      </p-tab>
      @if (admin || canEditMetadata) {
        <p-tab value="edit">
          <i [class]="'pi pi-pencil'"></i>
          Edit Metadata
        </p-tab>
      }
      @if (admin || canEditMetadata) {
        <p-tab value="match">
          <i [class]="'pi pi-search'"></i>
          Search Metadata
        </p-tab>
      }
    </p-tablist>
    <p-tabpanels class="tabpanels-responsive">
      <p-tabpanel value="view">
        <app-metadata-viewer
          [book$]="book$"
          [recommendedBooks]="recommendedBooks">
        </app-metadata-viewer>
      </p-tabpanel>
      @if (admin || canEditMetadata) {
        <p-tabpanel value="edit">
          <app-metadata-editor
            [book$]="book$">
          </app-metadata-editor>
        </p-tabpanel>
      }
      @if (admin || canEditMetadata) {
        <p-tabpanel value="match">
          <app-metadata-searcher [book$]="book$"></app-metadata-searcher>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
  </div>
</div>
